

<%= form_for @model, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>


  <div class="control-group">
     <%= f.label "Fichier", :class => 'control-label'%>
    <div class="controls">
      <%= f.file_field :avatar, :class =>'help-inline'%>
    </div>
  </div> 
  

  <div class="control-group">
    <%= f.label :echelle, :class => 'control-label' %>
     <div class="controls">
      <select>
        <option>Millimetres</option>
        <option>Inches</option>
      </select>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-warning' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                models_path, :class => 'btn' %>
  </div>
<% end %>

