

<%= form_for(@model) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :modelPath %><br />
    <%= f.text_field :modelPath %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :material %><br />
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :ext %><br />
    <%= f.text_field :ext %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :bbX %><br />
    <%= f.text_field :bbX %>
  </div>
  <div class="field">
    <%= f.label :bbY %><br />
    <%= f.text_field :bbY %>
  </div>
  <div class="field">
    <%= f.label :bbZ %><br />
    <%= f.text_field :bbZ %>
  </div>
 -->

  <div class="control-group">
     <%= f.label "Fichier", :class => 'control-label'%>
    <div class="controls">
      <%= f.file_field :avatar, :class =>'help-inline'%>
    </div>
  </div> 
<!-- 
  <%= form_for @model, :url => models_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %> -->

  

  <div class="control-group">
    <%= f.label :scaleType, :class => 'control-label' %>
     <div class="controls">
      <select>
        <option>Millimetres</option>
        <option>Inches</option>
      </select>
    </div>
  </div>



  <div class="form-actions">
    <%= f.submit "Envoyer le fichier", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), models_path, :class => 'btn' %>

  </div>

<!--  -->
<!--   <div class="actions">
    <%= f.submit %>
  </div>
<% end %> -->












