
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @model.name %>
</p>

<p>
  <b>Modelpath:</b>
  <%= @model.user_id %>
</p>


<p>
  <b>Imagepath:</b>
  <%= @model.imagePath %>
</p>

<p>
  <b>Modelpath:</b>
  <%= @model.modelPath %>
</p>

<p>
  <b>avatarurl:</b>
  <%= @model.avatar.url%>
</p>

<p>
  <b>Price:</b>
  <%= @model.price %>
</p>

<p>
  <b>Volume:</b>
  <%= @model.volume %>
</p>

<p>
  <b>Material:</b>
  <%= @model.material %>
</p>

<p>
  <b>Ext:</b>
  <%= @model.ext %>
</p>

<p>
  <b>Area:</b>
  <%= @model.area %>
</p>

<p>
  <b>Bbx:</b>
  <%= @model.bbX %>
</p>

<p>
  <b>Bby:</b>
  <%= @model.bbY %>
</p>

<p>
  <b>Bbz:</b>
  <%= @model.bbZ %>
</p>

<p>
  <b>Scale:</b>
  <%= @model.scale %>
</p>

<p>
  <b>Scaletype:</b>
  <%= @model.scaleType %>
</p>


<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>

