
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @model.name %>
</p>

<p>
  <b>Modelpath:</b>
  <%= @model.user_id %>
</p>


<div class="modal" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;">
      <div class="modal-header">
        <h3>Mon model</h3>
      </div>
      <div class="modal-body">
        <p><img src="/gearsInProgress.jpg" class="img-polaroid"></p>
      </div>
      <div class="modal-footer">
<!--         <a href="#" class="btn">Close</a> -->
        Original Bounds: <%= @model.bbX %> x <%= @model.bbY %> x <%= @model.bbZ %> mm
        <a href="#" class="btn btn-primary" disabled="disabled">Calculs en cours...</a>
      </div>
</div>

<!-- 
<p>
  <b>Imagepath:</b>
  <%= @model.imagePath %>
</p>

<p>
  <b>Modelpath:</b>
  <%= @model.modelPath %>
</p>

<p>
  <b>avatarurl:</b>
  <%= @model.avatar.url%>
</p>

<p>
  <b>Price:</b>
  <%= @model.price %>
</p>

<p>
  <b>Volume:</b>
  <%= @model.volume %>
</p>

<p>
  <b>Material:</b>
  <%= @model.material %>
</p>

<p>
  <b>Ext:</b>
  <%= @model.ext %>
</p>

<p>
  <b>Area:</b>
  <%= @model.area %>
</p>

<p>
  <b>Bbx:</b>
  <%= @model.bbX %>
</p>

<p>
  <b>Bby:</b>
  <%= @model.bbY %>
</p>

<p>
  <b>Bbz:</b>
  <%= @model.bbZ %>
</p>

<p>
  <b>Scale:</b>
  <%= @model.scale %>
</p>

<p>
  <b>Scaletype:</b>
  <%= @model.scaleType %>
</p>
 -->

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>

