<!DOCTYPE html>
<html>
<head>
  <title>Voxeliz</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background: #d5dad9;">


<!-- NAVBAR -->
<div class="navbar navbar-fixed-top navbar-inverse">
<!-- <div class="navbar navbar-fixed-top"> -->
    <div class="navbar-inner">
        <div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>

            <!-- <a class="brand" href="#">Voxeliz</a> -->
			<img src="/voxeliz_arista.png" class="brand" width="120">

			<div class="nav-collapse">
            <ul class="nav">
                <li><%= link_to "Blog", root_path %></li>
	            <li><%= link_to "Price List" %></li>
	            <li><%= link_to "Contact Us" %></li>
	            <li><%= link_to "Cart" %></li>
            </ul>

            <ul class="nav pull-right">
            <% if user_signed_in? %>
              	<li><%= link_to  edit_user_registration_path  do %>
                	<i class=" icon-user icon-black"></i>
                	<%="#{current_user.email}"%>
                	<% end %>
              	</li>
	            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	       	<% else %>
	             <li><%= link_to "Connection", new_user_session_path %></li>
               <li><button class="btn btn-mini btn-primary" type="link">Mini button</button></li>
	        <% end %>
	        </ul>


        	</div>
        </div>
    </div>
</div>
<!-- NAVBAR END-->





<%= render 'layouts/flash_messages' %>

<%= yield %>



<!-- FOOTER -->
    <div class="push"><!--//--></div>
    </div>
    <footer>
      <div class="container">
        <p>Put together in less than five minutes by <a href="http://www.martinbean.co.uk/" rel="author">Martin Bean</a>. Uses <a href="http://twitter.github.com/bootstrap/" rel="external">Twitter Bootstrap</a> and <a href="http://ryanfait.com/sticky-footer/" rel="external">Ryan Fait&rsquo;s Sticky Footer</a>.</p>
      </div>
    </footer>

</body>
</html>



